h1
{
    font-family:'Calibri', 'Ubuntu' , 'Inconsola', 'Droid Sans', serif;
    font-size : 48px;
    text-align:center;
}
#wrapper
{
    width:960px;
    margin : 0 auto 0 auto;
}
#EssentialsTable>tr>td
{
    padding : 3px;
    margin-left : 10px;
}
.optional
{
    color : #183f5a;
}
#SeteditEssentials
{
    display : None;
}
